<section class="col-md-4 col-md-offset-4 login-register-container text-center">
    <h1 class="login-register-header">Please register</h1>
    <p ng-show="message">{{ message }}</p>
    <form name="registerForm" ng-submit="registerUser()" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="user.firstName" ng-required="true">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="user.lastName" ng-required="true">
            <input type="email" class="form-control" name="email" placeholder="Username (email)" ng-model="user.email" ng-required="true">
            <input type="password"class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
            <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid">Register</button>
        </div>
        <p>
            or <a href="#/login">Login</a>
        </p>
    </form>
</section>
