body{
    background-color: #ecebeb;
    color: #2c3e50;
}
a:hover{
    text-decoration: none;
}

/*STYLES TOPBAR*/
.branding{
    background-color: #2c3e50;
    height: 70px;
    font-family: Cookie;
    font-size: 36px;
}

.branding>a{
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    width: 120px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 8px 0;
}
/*STYLES TOPBAR END*/

/*STYLES FLICK LIBRARY VIEW*/

.flick-library{
    padding-top: 10px;
    padding-right: 19px;
}
.flick{
    background-color: #fff;  
    margin-left: -5px; /* Bootstrap hack */
    margin-right: -10px; /* Bootstrap hack */
    height: 60px;
    padding-left: 0;
    padding-right: 0;
}
.flick-bottom-shadow{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    bottom: -6px;
    position: absolute;
    
}
.flick img.flick-image{
    height: 60px;
    float: left;
    margin-right: 10px;
}

.flick .flick-title{
    color: #2c3e50;
    font-size: 1.2em;
    font-weight: 600;
}

.flick .flick-release{
    font-weight: 200;
    font-size: .7em;
    margin-left: 5px
}

.flick img.flick-rating{
    max-height: 13px;
    margin-top: -7px;
}

.flick .flick-shortInfo{
    color: #2c3e50;
    font-size: 0.75em;
    margin-top: -4px;
    max-width: 175px;
    max-height: 15px;
    overflow: hidden;
}

.flick > .flick-mediaType, .flick .flick-add-icon{
    background-color: #2c3e50;
    float: right;
    width: 35px;
    height: 60px;
    position: relative;
    Bottom: 55px;
}
.flick > .flick-mediaType > img, .flick > .flick-add-icon > img{
    width: 25px;
    display: block;
    margin: 23px auto;
}

/*STYLES - FLICK DETAILS VIEW*/
/*Flick Details view - Core details*/
.flickDetails-core-right{
    margin: 0;
    padding: 0;
}
.flickDetails-core-details img{
    float: left;
    margin-right: 10px;
}
.flickDetails-title{
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 1.8em;
    font-weight: 800;
    color: #2c3e50;
}
.flickDetails-release{
    font-weight: 200;
    font-size: 0.6em;
    padding-left: 15px;
}
.flickDetails-rating{
    padding: 5px 0;    
}
.flickDetails-rating img{
    height: 15px
} 
.flickDetails-summary{
    font-family: Raleway;
    font-size: 1em;
    height: 120px;
    color: #777;
}
/*Flick Details view - Facts*/
.flickDetails-facts-container{
    background-color: #fff;
    border-top: 1px solid #dfe8ee;
    border-bottom: 1px solid #dfe8ee;
    padding: 0;
    margin-top: 10px;
}
.flickDetails-fact{
    border-bottom: 1px solid #dfe8ee;
    padding: 10px 10px 30px 10px;
}
.flickDetails-facts-header{
    float: left;
    font-weight: 800;
}
.flickDetails-facts-value{
    float: right;
    font-weight: 200;
}
.imdb-rating{
    font-size: 1.4em;
    font-weight: 800;
    padding-right: 3px;
}
/*STYLES - ADD FLICK VIEW*/
.flick-searchbar{
    background-color: #fff;
    border-bottom: 1px solid #dfe8ee;   
    height: 60px;
}
.navbar-form{
    margin: 0;
    padding: 0;
    border: none;
}
.flick-search-input{
    border: none;
    border-left: none;
    border-radius: 0;
    height: 3.4em;
    font-size: 1.2em;
    font-weight: 200;
    width: 100%!important;
}
.flick-search > .flick > .flick-title{
    padding-top: 10px
}
.flick-search > .flick > .flick-mediaType{
    bottom: 45px;
}
.flick > .flick-add-icon{
    Bottom: 45px;
}
.flick .flick-add-icon img{
    width: 20px;
}

/*STYLES BOTTOM NAV BAR*/
.navbar{
    background-color: #a1b1bc;
}
.left-button, .mid-button, .right-button{
    height: 50px;
    padding: 12px 0;
    text-align: center;
    color: #fff;
}
.navbar a{
    color: #fff;
}
.mid-button{
    background-color: #2c3e50
}

/*STYLES BOTTOM NAV BAR END*/

/*Media Queries*/

@media (max-width: 767px){ /*xs devices (phones)*/
    .flick-container{
        height: 69px;
        margin: 0px 0;
        padding: 0;
        background-image: url("../images/flick-bottom-shadow.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 400px;
    }  
    .flickDetails-core-container{
        height: 169px;
        background-image: url(./images/flick-bottom-shadow.png);
        background-repeat: no-repeat; 
        background-position: bottom;
        background-size: 400px;
    }
    .flickDetails-core-details{
        background-color: #fff;
        height: 160px;
        padding: 14px 0;
    }
    .flickDetails-core-left{
        max-width: 110px;
    }
    .flickDetails-core-left img.flickDetails-flick-image{
        max-height: 125px;
        padding-top: 5px
    }
    .flickDetails-core-right{
        height: 140px;
        overflow: hidden;
    }
    .flickDetails-core-title{
        font-size: 1.6em;
        font-weight: 800;
    }
    .flickDetails-core-release{
        font-size: .7em;
        font-weight: 400;
        padding-left: 20px;
    }
    .flickDetails-core-rating img{
        width: 90px;
    }
    .flickDetails-core-summary{
        float: left;
        padding-top: 2px;
    }
}

@media (min-width: 768px){ /*sm devices (Tablets)*/
    .flick-container{
        height: 69px;
        margin: 0 0;
        padding: 0;
        background-image: url("../images/flick-bottom-shadow.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 400px;
    } 
    
    .flickDetails-core-container{
        top: 70px;
        height: 267px;
        background-image: url(./images/flick-bottom-shadow.png);
        background-repeat: no-repeat; 
        background-position: bottom;
        background-size: 600px;
    }
    .flickDetails-core-details{
        background-color: #fff;
        height: 253px;
        padding: 14px 0;
    }
    .flickDetails-core-left{
        max-width: 180px;
    }
    .flickDetails-core-left img.flickDetails-flick-image{
        max-height: 225px;
    }
    .flickDetails-core-right{
        height: 140px;
        overflow: hidden;
    }
    .flickDetails-core-title{
        font-size: 1.6em;
        font-weight: 800;
    }
    .flickDetails-core-release{
        font-size: .7em;
        font-weight: 400;
        padding-left: 20px;
    }
    .flickDetails-core-rating img{
        width: 90px;
    }
    .flickDetails-core-summary{
        float: left;
        padding-top: 2px;
    }
}

@media (min-width: 992px){ /*md devices (Desktop)*/
    .flick-container{
        padding-right: 10px;
    }
    
    .flickDetails-core-container{
        height: 370px;
        background-size: 700px;
    }
    .flickDetails-core-details{
        height: 353px;
    }
    .flickDetails-core-left{
        max-width: 260px
    }
    .flickDetails-core-left img.flickDetails-flick-image{
        max-height: 325px;
    }
    .flickDetails-core-right{
        height: 140px;
        overflow: hidden;
    }
    .flickDetails-core-title{
        font-size: 1.8em;
        font-weight: 800;
        margin-bottom: 10px
    }
    .flickDetails-core-release{
        font-size: .7em;
        font-weight: 400;
        padding-left: 20px;
    }
    .flickDetails-core-rating img{
        width: 120px;
        padding-bottom: 10px
    }
    .flickDetails-core-summary{
        float: left;
        padding-top: 2px;
    }
    .flickDetails-facts-container{
        margin-bottom: 70px;
    }
}

@media (min-width: 1200px){ /*lg devices (Large desktop)*/
    .flickDetails-core-container{
        
    }
}